server:
  port: 8081

spring:
  # required for security - change to some custom stuff and leave spring configuration alone
  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver
  cloud:
    gcp:
      project-id: ${PROJECT_ID}
      sql:
        enabled: true
        database-name: ${DB_NAME}
        instance-connection-name: ${INSTANCE_CONNECTION_NAME}
  application:
    name: pomeranian-chat
  redis:
    host: ${REDIS_HOST:localhost}  # Default local, override in GCP env vars
    port: ${REDIS_PORT:6379}
#    username: ${REDIS_USERNAME:}   # Optional, if auth enabled
#    password: ${REDIS_PASSWORD:}   # Optional

logging:
  level:
    org:
      springframework:
        security: INFO
    com:
      sojka:
        pomeranian:
          lib:
            BaseExceptionHandler: DEBUG
          notification:
            service:
              NotificationService: INFO
          chat:
            repository:
              MessageRepository: INFO
            service:
              ChatService: INFO
            controller:
              MessageController: TRACE
              StompSubscriptionController: DEBUG
              GlobalExceptionHandler: DEBUG
          pubsub:
            CommentsSubscriber: INFO
            NotificationSubscriber: INFO
          comment:
            service:
              CommentService: INFO
              SessionTracker: INFO

pomeranian:
  chat:
    redis-enabled: false
    cache:
      write-timeout-ms: 2000
    purge:
      batch-size: 1000
  #  security:
  #    public-paths: /auth/login, /auth/register, /auth/verify-email, /api/city/hint, /auth/resend-email
  security:
    allowed-origins: ${ALLOWED_ORIGINS}
    roles: ADMIN, USER, SOFT_BAN, DEACTIVATED, HARD_BAN
    public-paths:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000
      refresh-expiration: 172800000 # 48 hours # 7776000000 # 90 days
    user-agent:
      cache-size: 100
      fields: DeviceClass, DeviceName, OperatingSystemName, AgentClass, AgentName
      warmup: false

astra:
  connectionBundleFilePath: ${ASTRA_CONNECTION_BUNDLE}
  clientId: ${ASTRA_CLIENT_ID}
  clientSecret: ${ASTRA_SECRET}
#  keyspace: 'messages' # using 2 keyspaces with a single connection, specifying keyspace for each query

gcp:
  project-id: 'pomeranian-463011'
  region: 'europe-central2' # Warsaw
  pubsub:
    chat-resources:
      publisher:
        topic-name: 'r2-dev'
    notifications:
      subscriber:
        subscription-name: 'notifications-dev'
    comments:
      subscriber:
        subscription-name: 'comments-dev'
    delete-account:
      subscriber:
        subscription-name: 'delete-account-dev'
    block-user:
      subscriber:
        subscription-name: 'block-user-dev'
    user-presence:
      publisher:
        topic-name: 'user-presence-dev'
