server:
  port: 8081

spring:
# required for security - change to some custom stuff and leave spring configuration alone
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver
  application:
    name: pomeranian-chat

logging:
  level:
    org.springframework.security: INFO

jwt:
  secret: "{bcrypt}$2a$12$00c6HrxoyeHFvFtEAJKj1.wFy4QtdB0Fr6vJ2bOp.OhycvuRG.202"
  expiration: 86400000

astra:
  connectionBundleFilePath: '/Users/msojka/IdeaProjects/pomeranian-chat/src/main/resources/db/secure-connect-pomeranian.zip'
  clientId: ${ASTRA_CLIENT_ID}
  clientSecret: ${ASTRA_SECRET}
#  keyspace: 'messages' # using 2 keyspaces with a single connection, specifying keyspace for each query

gcp:
  project-id: 'pomeranian-463011'
  region: 'europe-central2' # Warsaw
  pubsub:
    subscriber:
      subscription-name: 'notifications-dev'